<!-- ATTENTION - TODO -->
    <section class="hero is-small is-dark">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-multiline">
                    <div class="column has-text-centered">
                        <div>
                            bla bla bla
                        </div>
                    </div>
                    <div class="column has-text-centered">
                        <div>
                            bla bla bla
                        </div>
                    </div>
                    <div class="column has-text-centered">
                        <div>
                            <img src="img/unilasalleWhite.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>