<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content={{ site.theme_color | default: '#ffffff' }}>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bulma-divider.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bulma-divider.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-switch/dist/css/bulma-switch.min.css">
    <link rel="shortcut icon" type="image/png"
          {% if site.favicon %} href="{{ site.favicon | relative_url }}" {% else %} href="{{ site.baseurl }}/favicon.png" {% endif %}
    />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
    {% unless site.hide_share_buttons %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css">
    {% endunless %}
    {% seo %}
    {%- if site.google_analytics -%}
      {%- include google-analytics.html -%}
    {%- endif -%}
    {%- include head-scripts.html -%}
</head>
