<div class="column is-4-desktop is-6-tablet">
  <a href="{{ link_url }}">
    <div class="card has-background-success-light">
      <div class="card-image">
        <div class="card-image-container">
          <a href="{{ link_url }}"><img src="{{ link_image }}" alt="{{ link_description }}" class="landscape" /></a>
        </div>
      </div>
      <div class="card-content">
        <span class="icon-text">
          <span class="title is-4"><a href="{{ link_url }}">{{ link_title | truncate: 40 }}</a></span>
        </span>
        <p class="subtitle is-6">{{ link_description | truncate: 60 }}</p>
      </div>
    </div>
  </a>
</div>
