<div class="column is-4-desktop is-6-tablet">
  <a href="{{ url }}">
    <div class="card has-background-success-light">
      <div class="card-image">
        <div class="card-image-container">
          <a href="{{ url }}"><img src="{{ image }}" alt="{{ description }}" class="landscape" /></a>
        </div>
      </div>
      <div class="card-content">
        <span class="icon-text">
          <span class="title is-4"><a href="{{ url }}">{{ title | truncate: 40 }}</a></span>
        </span>
        <p class="subtitle is-6">{{ description | truncate: 60 }}</p>
      </div>
    </div>
  </a>
</div>
