<div class="content">
    {% if include.title %}
        <h3>{{ include.title }}</h3>
    {% endif %}
</div>
<div class="columns {% if include.greyBackground %} has-background-white-ter {% endif %}">
    <div class="column is-4">
        {% if include.image %}
        <a href="{{include.image}}" target="_blank"><img src="{{include.image}}" alt="image" title="Cliquez pour agrandir"/></a>
        <div class="columns is-mobile">
            {% if include.image_2 %}
            <div class="column">
                <a href="{{include.image_2}}" target="_blank"><img src="{{include.image_2}}" alt="image" title="Cliquez pour agrandir"/></a>
            </div>
            {% endif %}
            {% if include.image_3 %}
            <div class="column">
                <a href="{{include.image_3}}" target="_blank"><img src="{{include.image_3}}" alt="image" title="Cliquez pour agrandir"/></a>
            </div>
            {% endif %}
            {% if include.image_4 %}
            <div class="column">
                <a href="{{include.image_4}}" target="_blank"><img src="{{include.image_4}}" alt="image" title="Cliquez pour agrandir"/></a>
            </div>
            {% endif %}
        </div>

        {% elsif include.video %}
        <figure class="image is-16by9"> 
            <iframe class="has-ratio" 
                src="https://www.youtube.com/embed/{{ include.video }}?start={{ include.time | default: 0 }}&showinfo=0" 
                frameborder="0" 
                allowfullscreen
                >
            </iframe>
        </figure>
        {% endif %}
    </div>
    <div class="column is-8">
        {{include.content | markdownify }}
    </div>
</div>
<div>
    <div class="divider is-right"><a href="#">Top ↑</a></div>
</div>