---
layout: default
show_sidebar: false
---
{% if page.type_component=="sensors" %}
  {% assign sorted_components = site.sensors | sort:page.sort %}
{% else %}
  {% assign sorted_components = site.actuators | sort:page.sort %}
{% endif %}

<!-- Recupère la liste des tags "Domaine" (type) -->

{% assign typeArray = '' | split: ',' | sort_natural %}

{% for component in sorted_components %}
  {% assign types = component.type | split: "," %}
  {% for type in types %}
    {% assign typeArray = typeArray | push: type | sort_natural %} 
  {% endfor %}
{% endfor %}

{% assign uniqTypes = typeArray | uniq %}

<!-- Affiches les domaines -->

<div class="content">
  <p class="subtitle is-6"><b>Domaine(s) :</b>
    <div class="field is-grouped is-grouped-multiline">
      <div class="control">
        <a href="" class="tag is-rounded is-medium is-warning">Tout</a>
      </div>
      {% for type in uniqTypes %}
      <div class="control">
        <a href="{{ component.url | relative_url }}" class="tag is-rounded is-medium is-info is-light">{{ type }}</a>
      </div>
      {% endfor %}
    </div>
  </p>
</div>

<!-- CONTENT -->

<div class="columns is-multiline">

  <div class="column is-12">
    {{ page.content }}
  </div>

  {% for component in sorted_components %}
        <div class="column is-2-desktop is-6-tablet">
          <a href="{{ component.url | relative_url }}">
            <div class="card">
              {% if component.image %}
              {% capture image-url %}{{ site.baseurl }}{{ component.url }}{{ component.image }}{% endcapture %}
              <div class="card-image">
                <figure class="image is-fullwidth">
                  <img src="{{ image-url }}" alt="{{ component.title }}" />
                </figure>
              </div>
              {% endif %}
              <div class="card-content">
                <p class="title is-5">{{ component.title }}</h2>
              </div>
            </div>
          </a>
        </div>
  {% endfor %}
</div>

