---
layout: default
---
<div class="content">
  <p><a class="button is-primary" href="/blog/">Revenir au blog</a></p>
  {% if page.top_image %}
    <p><img src="{{ page.top_image }}" alt="{{ page.title }}"></p>
  {% endif %}
  <p class="is-size-6 is-italic has-text-weight-bold has-text-right">Publié le {{ page.date | date: "%d %-b %Y" }} par {{ page.author }}</p>

  {{ content }}
</div>

<div class="tags">
    {% for tag in page.tags %}
      {% include tag.html tag=tag %}
    {% endfor %}
</div>

{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}
