---
layout: default
---

<div class="columns is-multiline">

    <div class="column is-6">
        <figure class="image is-4by3">
            {% if page.image %}
            <img src="{{ page.image }}" />
            {% else %}
            <img src="{{ site.imgurl }}/no-image.png" />
            {% endif %}
        </figure>
    </div>

    <div class="column is-6">
        <div class="box">
            <p class="title is-3">Projet - {{ page.title }} 
                {% if page.gitlab-link %}
                    <a class="button is-rounded is-link" href="{{ page.gitlab-link }}"><i class="fab fa-gitlab"></i> &nbsp;Sources </a>
                {% endif %}
            </p>

            <div class="content">
                <p class="subtitle is-6"><span>{{ page.description }}</span></p>
            </div>
            
            <div class="content">
                <p class="subtitle is-6">
                    {% if page.multi-group %}
                    <span class="icon-text">
                        <span class="icon is-medium">
                          <i class="fas fa-users fa-lg"></i>
                        </span>
                        <span>Le projet peut être choisi par plusieurs groupes</span>
                      </span>
                    {% else %}
                    <span class="icon-text">
                        <span class="icon is-medium">
                          <i class="fas fa-user fa-lg"></i>
                        </span>
                        <span>Un seul groupe sur ce projet</span>
                      </span>
                    {% endif %}
                </p>
            </div>

            {% if page.tutor %}
            <div class="content">
                <p class="subtitle is-6">
                    <b>Tuteur(s)</b>
                    {% for tutor in page.tutor %}
                        <b>-</b>
                        <a href="mailto:{{ tutor.mail }}">{{ tutor.label }} {% if tutor.year %} ( {{ tutor.year }} ) {% endif %}</a>
                    {% endfor %}
                </p>
            </div>
            {% endif %}
            

            {% if page.student %}
            <div class="content">
                <p class="subtitle is-6">
                    <b>Etudiant(s)</b>
                    {% for student in page.student %}
                        <b>-</b>
                        <a href="mailto:{{ student.mail }}">{{ student.label }} {% if student.year %} ( {{ student.year }} ) {% endif %}</a>
                    {% endfor %}
                </p>
            </div>
            {% endif %}
            

            {% if page.categories %}
            <div class="content">
                <p class="subtitle is-6"><b>Catégorie(s) : </b>
                    <div class="field is-grouped is-grouped-multiline">
                        {% for category in page.categories %}
                            {% if category.check %}
                                <div class="control">
                                    <div class="tag is-rounded is-primary">{{ category.label }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </p>
            </div>
            {% endif %}

            {% if page.area %}
            <div class="content">
                <p class="subtitle is-6"><b>Domaine(s) : </b>
                    <div class="field is-grouped is-grouped-multiline">
                        {% assign areas = page.area | split: "," %}
                        {% for area in areas %}
                            <div class="control">
                                <div class="tag is-rounded is-primary">{{ area }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </p>
            </div>
            {% endif %}

            {% if page.soft %}
            <div class="content">
                <p class="subtitle is-6"><b>Logiciel(s) : </b>
                    <div class="field is-grouped is-grouped-multiline">
                        {% assign softs = page.soft | split: "," %}
                        {% for soft in softs %}
                        <div class="control">
                            <div class="tag is-rounded is-info">{{ soft }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </p>
            </div>
            {% endif %}

            {% if page.langage %}
            <div class="content">
                <p class="subtitle is-6"><b>Langage(s) : </b>
                    <div class="field is-grouped is-grouped-multiline">
                        {% assign langages = page.langage | split: "," %}
                        {% for langage in langages %}
                        <div class="control">
                            <div class="tag is-rounded is-success">{{ langage }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </p>
            </div>
            {% endif %}

            <div class="content">
                <p class="subtitle is-6"><b>Statut : </b>
                    {% if page.state_new %}
                    <span>Nouveau projet</span>
                    {% else %}
                    <span>Matériel, installation ou études existants</span>
                    {% endif %}
                </p>
            </div>

            {% if page.todo %}
            <div class="content">
                <p class="is-size-6 has-text-weight-semibold">Documentation réalisée à :</p>
                {% if page.todo <= 25 %}
                <p><progress class="progress is-danger is-medium mt-4" value="{{ page.todo }}" max="100">{{ page.todo }}</progress></p>
                {% elsif page.todo <=85 %}
                <p><progress class="progress is-warning is-medium mt-4" value="{{ page.todo }}" max="100">{{ page.todo }}</progress></p>
                {% else %}
                <p><progress class="progress is-success is-medium mt-4" value="{{ page.todo }}" max="100">{{ page.todo }}</progress></p>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="columns is-multiline mt-6">
        <div class="column is-9-desktop is-9-tablet">
            <div class="content">
                {% if page.render-readme %}
                    {% assign project_url = page.gitlab-link %}
                    {% assign readme_url = "/-/raw/main/README.md" %}
                    {% assign final_url = project_url | append: readme_url %}
                    {% capture mdurl %}
                        {% remote_include {{ final_url }} %}
                    {% endcapture %}
                    {{ mdurl | strip | markdownify }}
                    
                    
                {% else %}
                    {{ content }}
                    
                {% endif %}
            </div>
        </div>
        {% if page.product_toc %}
            <div class="column is-3-desktop is-3-tablet is-hidden-mobile mt-6" style="height:90vh; position: sticky; top: 3.2rem; overflow: auto;">
                {% assign contentsTitle = page.toc_title | default: 'Contents' %}
                {% include toc.html html=content class='menu-list' h_min=2 h_max=4 contents_title=contentsTitle %}
            </div>
        {% endif %}
    </div>

    {% if site.data.reviews[page.project_code] %}
    <div class="column is-12">
        <p class="title is-4">Reviews</p>
        {% for review in site.data.reviews[page.project_code] %}
        {% include review.html %}
        {% endfor %}
    </div>
    {% endif %}

</div>

